
@{
    ViewBag.Title = "Motos";
    //Layout = "~/View/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="index.html">Información</a></li>
    <li class="breadcrumb-item active">Motos</li>
</ol>

